/* 
  ##Device = Tablets, Ipads 
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        padding: 0 3em;
        /*margin-left: 2vw;*/
        /*border-left: 1px solid rgba(0, 0, 0, 0.3);*/
    }
    nav ul li a {
        border: none;
        /*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
    }
    header div {
        display: block;
    }
    #forecast-day {
        width: 30%;
    }
    .contact {
        font-size: medium;
    }
    #map {
        min-width: 20em;
        min-height: 25em;
    }
    
    #forecast-day {
        width: 30%;
    }

    .cards {
        flex-direction: column;
    }
    .cities {
        width: auto;
        height: auto;
    }
    .containI {
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .i2 {
        flex-direction: row-reverse;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .cities img {
        float: left;
        width: 400px;
    }

}