/* Medium Views ******************************/

@media only screen and (min-width: 28rem) {
    h1 {
        font-size: 1.5rem;
    }
    /* Horizontal Menu Examples */
    /* Flex *********************/
    /* nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 2 100%;
        /* Grid *********************
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }*/
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        padding: 0 3em;
        /*margin-left: 2vw;*/
        /*border-left: 1px solid rgba(0, 0, 0, 0.3);*/
    }
    nav ul li a {
        border: none;
        /*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
    }
    header div {
        display: block;
    }
    #forecast-day {
        width: 30%;
    }
    .contact {
        font-size: medium;
    }
    #map {
        min-width: 20em;
        min-height: 25em;
    }
    /*
    .cards {
        flex-direction: column;
    }
    .cities {
        width: 100%;
        height: auto;
    }
    .containI {
        flex-direction: row;
    }
    .containP {
        display: block;
    }*/
    .cards {
        flex-direction: column;
    }
    .cities {
        width: auto;
        height: auto;
    }
    .containI {
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .i2 {
        flex-direction: row-reverse;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .cities img {
        float: left;
        width: 400px;
    }

    /*******************************************************/

    nav a {
        font-size: 1rem;
    }

    main {
        grid-template-columns: 1fr;
    }

     /* Gallery Specific */
  .main-gallery {
    height: 100%;
  }
  .gallery-title {
    padding: 0;
    text-align: left;
    margin: 15px 25px;
  }

  .gallery-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    justify-content: center;
  }

  figure {
    display: inline-block;
    margin-bottom: 10px;
    min-width: 300px;
  }

  figure img {
    box-sizing: border-box;
    width: 0px;
    min-width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
  }

  figcaption {
    background-color: white;
    font-size: 1rem;
    padding: 10px 0;
  }

  .gallery-title {
    padding-left: 20px;
    margin: 10px 0;
  }

  img[data-src] {
    filter: blur(0.2em);
  }

  footer {
    position: relative;
  }
}


    