/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

main {
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #6D6875;
    color: white;
}

footer {
    background: #F69090;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
}

header .motto {
    font-style: italic;
}

header div {
    display: none;
}


nav {
    background-color: #F69090;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0;
    line-height: 1.6;
}

nav li {
    display: none;
}

nav li:first-child {
    display: block;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    background-color:#FFCDB2;
}

nav a.active {
    text-decoration: underline;
    background-color:#FFCDB2;
}

a {
    color: white;
}

.card {
    text-align: center;
    width: 320px;
    border: white dashed 2px;
    margin: 1rem 0 0;
    padding: 1rem;
}

.card ul {
    list-style: none;
    padding: 0;
}

.cloudy-logo{
    display: flex;
    justify-content: center;
}

table {
    display: table;
    border: 2px dashed white;
}

td, th{
    border: 2px dashed white;
}

.container-table {
    margin-top: 1rem;
}

.primary-background {
    background-color: #6D6875;
    text-align: center;
}

.secondary-background {
    background-color: #F69090;
    text-align: center;
}

.accent1-background {
    background-color: #B5838D;
    text-align: center;
}

.accent2-background {
    background-color: #FFCDB2;
    text-align: center;
}

.expand-menu li {
    display: block;
}

.expand-menu li:first-child a{
    color: #111111;
    text-decoration: none;
}

.fridayBanner {
    font-family: "Poppins";
    font-size: 18px;
    text-align: center;
    background-color: #FFCDB2;
    color: #fff;
}

.announce {
    display: none;
    height: auto;
    font-size: 20px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 30%;
    background-color: #FFCDB2;
    color: #000;
}

.banner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.banner-img {
    width: 960px;
    max-height: 17rem;
}

.weatherSumary {
    margin-top: .3rem;
    width: 100%;
    text-align: center;
    height: 15rem;
    background: rgba(246,144,144,0.8);
    color: azure;
}

.weatherSumary:hover {
    background-color: rgba(109,104,117,0.8);
}

.weatherSumary ul {
    padding: 0;
}

.weatherSumary ul li {
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
}

.weatherSumary ul li:hover {
    background-color: #FFCDB2;
    transform: translateX(10px);
}

.weatherWeek {
    display: block;
    margin: 0;
    margin-bottom: 1rem;
}

.weatherWeek h3 {
    text-align: center;
}

#weatherDay {
    margin: 50 50;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #B5838D;
}

#forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 0.3rem;
    margin-bottom: 3%;
    color: #6D6875;
    background-color: #fff;
    font-family: sans-serif;
    border-radius: 1rem;
    box-shadow: inset -1px 3px 8px 5px #FFCDB2, 2px 5px 16px 0px #B5838D, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#forecast-day:hover {
    transform: translateX(5px);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#high {
    margin-top: 1rem;
}

.article {
    display: block;
    margin: 1rem 2rem;
    padding: 10px;
    border: 1px solid #000;
    color: #6D6875;
    background-color: beige;
    border-radius: 1em;
}

.article img {
    float: right;
    max-width: 45%;
    max-height: 45%;
}

.clearfix {
    font-size: 1em;
    letter-spacing: 1pt;
    list-style: none;
    text-align: center;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

