/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.fridayBanner {
    font-family: "Poppins";
    font-size: 18px;
    text-align: center;
    background-color: #FFCDB2;
    color: #fff;
}

.announce {
    display: none;
    height: auto;
    font-size: 20px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 30%;
    background-color: #FFCDB2;
    color: #000;
}

header div {
    display: none;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

header,
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #6d6875;
    color: aliceblue;
}

.box-icon {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
}

.box-icon h3 {
    color: black;
}

.icon-header {
    width: 350px;
}

footer a {
    color: white;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #6d6875;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px gray;
    margin: 0 3.5em;
    background-color: #F69090;;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    font-style: normal;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    background: linear-gradient(90deg, transparent, rgb(246, 144, 144), transparent) top / var( --d, 0) 10px no-repeat;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #6d6875;
    color: #fff;
    --d: 75%;
}

nav ul li.active a {
    color: #6d6875;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul.open li a:hover {
    background-color: #bbb;
    color: #021a08;
    --d: 75%;
}

main {
    margin: 0 3.5em;
}

main h2 {
    text-align: center;
}

.banner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.banner-img {
    width: 100%;
    max-height: 17rem;
}

.weatherSumary {
    margin-top: .3rem;
    width: 100%;
    text-align: center;
    height: 13rem;
    background: rgba(109, 104, 117, 0.8);
    color: azure;
}

.weatherSumary:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.weatherSumary ul {
    padding: 0;
}

.weatherSumary ul li {
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
}

.weatherSumary ul li:hover {
    background-color: rgb(246, 144, 144);
    transform: translateX(10px);
}

.weatherWeek {
    display: block;
    margin: 0;
    margin-bottom: 1rem;
}

.weatherWeek h3 {
    text-align: center;
}

#weatherDay {
    /*margin: 0 auto;
    width: 700px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #05386b;
}

#forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 0.3rem;
    margin-bottom: 3%;
    color: #000;
    font-family: sans-serif;
    border-radius: 1rem;
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#forecast-day:hover {
    transform: translateX(5px);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#high {
    margin-top: 1rem;
}

.article {
    display: block;
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid #000;
    color: #05386B;
    background-color: beige;
    border-radius: 1em;
}

.article img {
    float: right;
    max-width: 45%;
    max-height: 45%;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 10px;
    border-radius: 1rem;
    text-align: left;
    color: #eee;
    background-color: #05386b;
    font-size: x-small;
}

#map {
    width: auto;
    height: auto;
    margin: auto 5%;
    float: left;
}

.contact-us {
    grid-column: 2;
    margin: auto;
}

.contact-us h4 {
    text-align: center;
}

main h2 {
    font-size: xx-large;
}

main hr {
    margin-bottom: 1rem;
}

form {
    /* background-color: #000023;*/
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 32%, rgba(0, 212, 255, 1) 100%);
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2ch;
}

main {
    justify-content: center;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
}

main form fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
}

label {
    margin-bottom: 3rem;
}

input {
    border-radius: 2ch;
    box-shadow: 5px 5px 15px 5px #000000;
}

#comments {
    min-width: 5rem;
    min-height: 5rem;
}

.submit_button {
    max-height: 2rem;
    margin: 1rem;
}

.submit_button:hover {
    background-color: red;
    color: #fff;
}

label:hover {
    color: red;
    font-size: larger;
}

.btn-thanks {
    margin: 2rem;
    border-radius: 1ch;
    background-color: #1F87FF;
}

.btn-thanks a {
    text-decoration: none;
    color: #000;
    font-size: xx-large;
}

.btn-thanks:hover {
    background-color: red;
}

.btn-thanks a:hover {
    color: #eee;
}


/*--------------------home-page------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.cities {
    margin-bottom: 1rem;
    background-color: #FFD24C;
    border-radius: 1ch;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.cities:hover {
    box-shadow: 5px 5px 15px 5px #000000;
}

.cities h2 {
    font-size: large;
}

.cities q {
    font-size: small;
}

.containI,
.i2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1ch;
}

.containP {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cities img {
    width: 250px;
    height: 150px;
    margin: 0 .5rem 0 .5rem;
}


/*---------------   VIEWS WIREFRAME     --------------*/

.wireframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.views {
    background-color: #FFD24C;
    border-radius: 1ch;
    margin: 0.5rem 1rem;
    text-align: center;
    padding: 1rem;
}

.views img {
    max-width: 200px;
    height: auto;
}


/*-----------------Clearfix: force an element not to collapse-------*/

.clearfix {
    font-size: .9em;
    letter-spacing: 1pt;
    list-style: none;
    text-align: center;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 100;
}


/* Small/Phone View ***************/